{
    "presets": [
        "react-native"
    ],
    "plugins": [
        [ "root-import", {
            "rootPathPrefix": "/"
        } ],
        "transform-decorators-legacy"
    ],
    "env": {
        "development": {
            "retainLines": true,
            "sourceMap": "inline"
        },
        "test": {
            "retainLines": true
        }
    }
}
