{
    "presets": [
        "react-native"
    ],
    "plugins": [
        [ "root-import", {
            "rootPathPrefix": "/"
        } ]
    ],
    "env": {
        "development": {
            "retainLines": true
        },
        "test": {
            "retainLines": true
        }
    }
}
